@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

@* <div asp-validation-summary="All"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div> *@

<section class="sign-in">
    <div class="container">
        <div asp-validation-summary="All" class="text-danger"></div> 

        <div class="signin-content">
            <div class="signin-image">
               @*  <figure><img src="images/signin-image.jpg" alt="sing up image"></figure> *@
                <figure> <img src="~/images/signup-image.jpg" alt="sing up image" /></figure>

            </div>

            <div class="signin-form">
                <h2 class="form-title">Forget Password</h2>




                <form asp-action="SendEmail" method="post" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" type="email" id="your_name" placeholder="Email" />
                    </div>


                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Send Email" />
                    </div>
                </form>




            </div>
        </div>
    </div>
</section>


@section validationScript {
	<partial name="_ValidationScriptsPartial" />
}

